* {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(230, 146, 229, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Starting - Intro section */
.avatar-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px) rotate(180deg); /* Rotate the avatar 180 degrees */
  animation: float 6s ease-in-out infinite;
}

@media only screen and (max-width: 786px) {
  .avatar-section {
    margin-top: 60%;
  }
}

@media only screen and (max-width: 466px) {
  .avatar-section {
    margin-top: 70%;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.avatar img {
  width: 100%;
  height: auto;
}

.avatar-section button {
  padding: 8px 16px;
  background: rgba(230, 146, 229, 1);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.intro-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
/* Ending - Intro section */

/* Starting of repo section */

.repo-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust columns for smaller screens */
  gap: 20px;
}

@media (max-width: 600px) {
  .repo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  */

@media only screen and (max-width: 480px) {
  .repo-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(146, 230, 192, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 100%; /* Use a percentage or other relative unit */
  }

  .block {
    position: relative;
    margin: auto 0;
    width: 100%; /* Use a percentage or other relative unit */

    height: 250px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(146, 230, 192, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/*  */

.card {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(146, 230, 192, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.block {
  position: relative;
  margin: auto 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(146, 230, 192, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block:before,
.block:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  /* animation: steam 20s linear infinite; */
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.card-heading {
  color: #333;
  margin-bottom: 10px;
}

.card-paragraph {
  color: #666;
  margin-bottom: 15px;
}

.topics-section {
  margin-top: 15px;
}

.topic {
  display: inline-block;
  color: black;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 5px;
  background: rgba(230, 146, 229, 1);
}
/* Ending of repo section */

/* Starting - Pagination section */
.pagination-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-bar div {
  display: flex;
  align-items: center;
}

.pagination-bar button {
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-bar select {
  padding: 8px;
  margin: 0 5px;
}

/* Ending - Pagination section */

/* Starting of the search bar */
.search-bar {
  position: fixed;
  margin: 0 auto;
  width: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(230, 146, 229, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#githubUsername {
  padding: 8px;
  margin-right: 10px;
  flex-grow: 1; /* Allow the input to grow and take available space */
}

.search-bar button {
  margin-left: 5px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media queries for tablet */
@media only screen and (max-width: 768px) {
  .search-bar {
    width: 80%;
    display: grid;
    margin: 0 auto;
  }

  #githubUsername {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #reposPerPage,
  #page {
    margin-bottom: 10px;
  }
}

/* Media queries for mobile */
@media only screen and (max-width: 480px) {
  .search-bar {
    width: 80%;
    display: grid;
    position: fixed;
    top: 0;
  }

  #githubUsername {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #reposPerPage,
  #page {
    margin-bottom: 10px;
  }
}

/* Ending of the search bar */
